{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us | Skill-Study</title>
    <link rel="shortcut icon" href="../favicon.png" type="image/x-icon" />
    <!-- Place favicon.png.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/flaticon-skillgro.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/flaticon-skillgro-new.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/swiper-bundle.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/default-icons.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/odometer.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/aos.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/plyr.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/spacing.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/tg-cursor.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
  </head>
  <body>
    <!-- header-area -->
    {% include "nav.html" %}
    <!-- header-area-end -->

    <main class="main-container">
        <section class="contact-section" data-aos="fade-up" data-aos-duration="1000">
          <h1 class="contact-title" data-aos="fade-down" data-aos-duration="1000">
            Contact Us
          </h1>
          <p
            class="contact-description"
            data-aos="fade-up"
            data-aos-duration="1200"
            data-aos-delay="200"
          >
            Have questions? Get in touch with us:
          </p>
          <ul class="contact-details">
            <li
              class="contact-item"
              data-aos="fade-right"
              data-aos-duration="1200"
              data-aos-delay="400"
            >
              Email:
              <a href="mailto:support@skillstudy.com" class="contact-link"
                >support@skillstudy.com</a
              >
            </li>
            <li
              class="contact-item"
              data-aos="fade-right"
              data-aos-duration="1200"
              data-aos-delay="600"
            >
              Phone:
              <a href="tel:+918305775024" class="contact-link">+91 80806 66817</a>
            </li>
            <li
              class="contact-item"
              data-aos="fade-right"
              data-aos-duration="1200"
              data-aos-delay="800"
            >
              Nagar, Maharashtra, India
            </li>
          </ul>
        </section>
    </main>

      <style>
        .designed-by {
          text-align: right;
        }
      </style>
      
      <!-- AOS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
      <script>
        AOS.init();
      </script>

<!-- Footer area -->
{% include "footer.html" %}

<!-- footer-area-end -->

    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/jquery.odometer.min.js"></script>
    <script src="/assets/js/jquery.appear.js"></script>
    <script src="/assets/js/tween-max.min.js"></script>
    <script src="/assets/js/select2.min.js"></script>
    <script src="/assets/js/swiper-bundle.min.js"></script>
    <script src="/assets/js/jquery.marquee.min.js"></script>
    <script src="/assets/js/tg-cursor.min.js"></script>
    <script src="/assets/js/vivus.min.js"></script>
    <script src="/assets/js/ajax-form.js"></script>
    <script src="/assets/js/svg-inject.min.js"></script>
    <script src="/assets/js/jquery.circleType.js"></script>
    <script src="/assets/js/jquery.lettering.min.js"></script>
    <script src="/assets/js/plyr.min.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/aos.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
      SVGInject(document.querySelectorAll("img.injectable"));
    </script>
  </body>
</html>
