{% load static %}

<footer class="footer__area" style="background-color: rgb(255, 255, 255); border-radius: 2rem;">
  <div class="footer__top">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="footer__widget">
            <div class="logo mb-35">
              <a href="https://skill-study.com/"
                ><img
                  src="{% static '/images/favicon.png' %}"
                  alt="img"
              /></a>
            </div>
            <div class="footer__content">
              <p>
                SkillStudy is an E-learning platform. This platform helps
                people build their personal brand on social media and create
                passive income.
              </p>
              <ul class="list-wrap footer__social">
                <li>
                  <a href="#" target="_blank">
                    <img
                      src="{% static '/images/icons/facebook.svg' %}"
                      alt="img"
                      class="injectable"
                    />
                  </a>
                </li>
                <li>
                  <a
                    href="/"
                    target="_blank"
                  >
                    <img
                      src="{% static '/images/icons/instagram.svg' %}"
                      alt="img"
                      class="injectable"
                    />
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    target="_blank"
                  >
                    <img
                      src="{% static '/images/icons/youtube.svg' %}"
                      alt="img"
                      class="injectable"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
          <div class="footer__widget">
            <h4 class="footer__widget-title">Course/Packages</h4>
            <div class="footer__link">
              <ul class="list-wrap">
                <li>
                  <a href="/register/1" style="color: #000000 !important">Starter Package</a>
                </li>
                <li>
                  <a href="/register/2" style="color: #000000 !important">Essential Package</a>
                </li>
                <li>
                  <a href="/register/3" style="color: #000000 !important">Advanced Learning Package</a>
                </li>
                <li>
                  <a href="/register/4" style="color: #000000 !important">Premium Gold Package</a>
                </li>
                <li>
                  <a href="/register/5" style="color: #000000 !important">Ultimate Diamond Package</a>
                </li>
                <li>
                  <a href="/register/6" style="color: #000000 !important">Elite Platinum Package</a>
                </li>
                <li>
                  <a href="/register/7" style="color: #000000 !important">Exclusive Premium Package</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
          <div class="footer__widget">
            <h4 class="footer__widget-title">Quick Links</h4>
            <div class="footer__link">
              <ul class="list-wrap">
                <li>
                  <a href="contact.html" style="color: #000000 !important">Contact Us</a>
                </li>
                <li>
                  <a href="disclaimer.html" style="color: #000000 !important">Disclaimer</a>
                </li>
                <li>
                  <a href="privacy-policy.html" style="color: #000000 !important">Privacy Policy</a>
                </li>
                <li>
                  <a href="refund-policy.html" style="color: #000000 !important">Refund Policy</a>
                </li>
                <li>
                  <a href="terms.html" style="color: #000000 !important">Terms & Conditions</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="footer__widget">
            <h4 class="footer__widget-title">Get In Touch</h4>
            <div class="footer__contact-content">
              <p style="color: #000000 !important">
                Contact us at +91 80806 66817 or support@skillstudy.com. We are based in Nagar, Maharashtra.
              </p>
              <ul class="list-wrap">
                <li style="color: black; transition: color 0.3s ease-in-out;" onmouseover="this.style.color='rgb(10, 100, 255)'" onmouseout="this.style.color='black'">+91 80806 66817</li>
                <li style="color: black; transition: color 0.3s ease-in-out;" onmouseover="this.style.color='rgb(10, 100, 255)'" onmouseout="this.style.color='black'">support@skillstudy.com</li>
                <li style="color: #000000 !important">Nagar, Maharashtra, India</li>
              </ul>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7">
          <div class="copy-right-text">
            <p>Copyright © 2025 Skill-Study. All rights reserved.</p>
          </div>
        </div>
        <div class="col-md-5">
          <div class="copy-right-text">
            <p class="designed-by" style="user-select: none;">
              Developed by
              <a
                class="made"
                href="https://utkarshportfolio-gamma.vercel.app"
                style="color: whitesmoke;"
                target="_blank"
                >Utkarsh</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>